.devices {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 70px);
}

.driversList {
  flex: 1 1 auto;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  gap: 16px;
  //margin-top: 20px;
  overflow-y: auto;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  min-width: 150px;
  max-width: 300px;
  transition: all 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn:hover {
  background-color: #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.btn:active {
  background-color: #222;
  transform: scale(0.98);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.wrapperBtn {
  display: flex;
  width: 100%;
  padding: 0 20px;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: center;
}


.buttonConfirm {
  min-width: 200px;
  max-width: 300px;
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.buttonConfirm:hover {
  background-color: #1a80e0;
}

.buttonCancel {
  min-width: 200px;
  max-width: 300px;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modalContainer {
  background-color: #333;
  padding: 20px 16px;
  position: relative;
  min-width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0 0 20px;
  font-size: 20px;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.fieldLabel {
  margin-bottom: 6px;
  font-size: 14px;
  color: #ccc;
}

.input {
  padding: 8px 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #444;
  color: #fff;

  &:focus {
    outline: none;
    border-color: #66afe9;
  }
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.buttonCancel,
.buttonConfirm {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
}

.buttonCancel {
  background-color: #555;
  color: #eee;

  &:hover {
    background-color: #666;
  }
}

.buttonConfirm {
  background-color: #007bff;
  color: #fff;

  &:hover {
    background-color: #1580ff;
  }
}

.tilesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
  padding: 0 16px 16px;
  justify-content: flex-start; // Прижимаем ряды влево
}

.tile {
  // По умолчанию (большие экраны) — 4 колонки
  flex: 0 0 calc((100% - (5 - 1) * 12px - 32px) / 5);
  //        ^^^^
  // Здесь "4" — это число колонок.
  // "12px" — gap между плитками, их (5 - 1) = 4 штуки
  // "32px" — суммарный padding родителя (16px слева + 16px справа)
  position: relative;
  min-width: 100px; // чтобы не меньше 100
  max-width: 250px; // и не больше 250
  background-color: #333;
  height: 100px;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-break: break-word;
}

.editWrapper {
  position: absolute;
  bottom: 6px;
  right: 6px;
  padding: 6px 10px;
}

.groupName {
  font-size: 16px;
}

.backButton {
  /* Полностью повторяем стили .btn */
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  /* Иконка */
  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }


  &:active {
    background-color: #222;
    transform: scale(0.98);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  /* Для адаптивности */
  @media (max-width: 460px) {
    width: 36px;
    height: 36px;
    padding: 8px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

/* Обёртка всей карусели: стрелки + список */
.roomCarouselWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  overflow: hidden; /* чтобы не показывать возможный скролл */
}

/* Контейнер со списком комнат */
.roomCarousel {
  display: flex;
  overflow-x: auto; /* разрешаем скролл, но скрываем его */
  scroll-behavior: smooth; /* плавная прокрутка */
  -ms-overflow-style: none; /* скрываем скролл в IE */
  scrollbar-width: none; /* скрываем скролл в Firefox */
}

.roomCarousel::-webkit-scrollbar {
  display: none; /* скрываем скролл в Chrome */
}

/* Одна комната */
.roomItem {
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  padding: 8px 16px;
  white-space: nowrap;
  opacity: 0.4;
  font-size: 18px;
  //transition: all 0.3s;
  flex-shrink: 0;

  &.active {
    color: #ffffff;
    //transform: scale(1.3);
    opacity: 1;
  }
}

.totalCount {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.centerBlock {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.dots {
  display: flex;
  padding: 10px;
  gap: 6px;
  min-width: fit-content;
}

.arrowPagination {
  display: flex;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 4px 12px;

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.paginationBar {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.dotsWrapper {
  max-width: 100%;
  overflow-x: auto;
  min-height: 30px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: #757575;
  }

  &.active {
    background: white;
    transform: scale(1.4);
  }
}


/* ~~~ 3 колонки, когда экран менее 1200px, например ~~~ */
@media (max-width: 599px) {
  .tile {
    flex: 0 0 calc((100% - (3 - 1) * 12px - 1px) / 3);
  }
}

@media (max-width: 370px) {
  .tile {
    flex: 0 0 calc((100% - (2 - 1) * 12px - 1px) / 2);
  }
}


@media (max-width: 460px) {
  .wrapperBtn {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    //justify-content: center;
  }
  //.btn {
  //  //width: 100%;
  //  min-width: 0;
  //  flex: 1 1 45%;
  //  max-width: 1000px;
  //}
}
