/* Контейнер со списком драйверов */
.driversList {
  flex: 1 1 auto;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  overflow-y: auto;
}

/* Один элемент-драйвер */
.driverItem {
  height: 80px;
  color: #ffffff;
  background: #333;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  transition: all 0.1s ease;
  cursor: pointer;
  text-align: left;
  flex: 0 1 clamp(140px, 22%, 220px);
  max-width: 220px;
}

.driverItem:active {
  background-color: #d2d2d2;
  transform: scale(0.98);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Отступы обёртки страницы */
.devices {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 70px);
}

.wrapperBtn {
  display: flex;
  padding: 0 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  min-width: 200px;
  max-width: 300px;
  transition: all 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.btn:active {
  background-color: #222;
  transform: scale(0.98);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.totalCount {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.centerBlock {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.paginationBar {
  position: relative;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.arrowPagination {
  position: absolute;
  display: flex;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 4px 12px;

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.arrow {
  display: flex;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.1s ease;
  padding: 4px 12px;
  background-color: #737373;

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}


.dotsWrapper {
  max-width: 100%;
  overflow-x: auto;
  min-height: 30px;
}

.dots {
  display: flex;
  padding: 10px;
  gap: 6px;
  min-width: fit-content;
}

.dot {
  width: 10px;
  height: 10px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: #757575;
  }

  &.active {
    background: white;
    transform: scale(1.4);
  }
}

/* Адаптивность */
@media (max-width: 1024px) {
  .driverItem {
    flex: 1 1 clamp(150px, 33%, 250px);
  }
}

@media (max-width: 768px) {
  .driverItem {
    flex: 1 1 clamp(160px, 50%, 300px);
  }
}

@media (max-width: 480px) {
  .driverItem {
    flex: 1 1 100%;
  }
}

@media (max-width: 460px) {
  .wrapperBtn {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
  }
  .btn {
    //width: 100%;
    min-width: 0;
    flex: 1 1 45%;
    max-width: 1000px;
  }
}
