.container {
  border-top: .1px solid #a8a8a8;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #3a3a3a;
  border-radius: 4px;
  gap: 2px;
  font-family: sans-serif;
  min-width: 300px;
  width: 100%;
  align-self: flex-start; // не тянемся по высоте родителя
  height:60px;     // сбрасываем возможное наследование
  max-height: unset;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -ms-user-select: none;       /* IE 10+ */

  @media (min-width: 990px) {
    width: calc(33.333% - 12px);
    padding: 9px 6px;
  }

  @media (max-width: 990px) and (min-width: 600px) {
    width: calc(50% - 12px);
    padding: 9px 6px;
  }

  @media (max-width: 675px) {
    padding: 9px 6px;
    min-width: unset;
  }
}

//@keyframes wobble {
//  0% {
//    transform: rotate(0deg);
//  }
//  15% {
//    transform: rotate(-1.5deg);
//  }
//  30% {
//    transform: rotate(1.5deg);
//  }
//  45% {
//    transform: rotate(-1.5deg);
//  }
//
//  60% {
//    transform: rotate(1.5deg);
//  }
//
//  100% {
//    transform: rotate(0deg);
//  }
//}
//
//.shake {
//  animation: wobble 1s ease-in-out infinite;
//  transform-origin: center bottom; // Качаем как на петле снизу
//}


.channelNumber {
  padding-left:2px ;
  font-weight: bold;
  color: white;
  font-size: 22px;
  width: 27px;
  overflow: hidden;
  //text-align: left;
  flex-shrink: 0;
}

.indicators {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  overflow: hidden;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
  flex-shrink: 0;
}

.dot:not(:first-child) {
  margin-left: -6px;
}

.dashes {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.name {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 16px; // Адаптивный размер шрифта
  width: 100%;

}

.button {

  background-color: #444;
  color: white;
  border: none;
  height: 100%;
  padding: 2px clamp(4px, 2vw, 8px); // Адаптивный padding
  border-radius: 2px;
  font-size: clamp(10px, 2.5vw, 12px); // Адаптивный размер шрифта
  cursor: pointer;
  flex-shrink: 0;
  margin-left: auto;
  white-space: nowrap;

  @media (max-width: 599px) {
    align-self: stretch; // растягиваем по высоте контейнера
    height: 100%; // занимаем всю доступную высоту
    font-size: 16px;
    display: flex; // чтобы контент по центру
    align-items: center;
    justify-content: center;
  }
}

// Цвета индикаторов
.red {
  background-color: red;
}

.green {
  background-color: lime;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.warm {
  background-color: #ecd67b;
}

.cold {
  background-color: #cbe9fd;
}

