.settings {
  /*background-color:  #f9f9f9;*/
  border-radius: 8px;
  /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
  max-width: 800px;
}

.settings h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.panel label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.panel input,
.panel select {
  margin-top: 6px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  color: #333;
  max-width: 240px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin-top: 6px;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  max-width: 300px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btnDisabled {
  background-color: #191919;
  color: #707070;
  border: none;
  max-width: 300px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.btn:active {
  background-color: #222;
  transform: scale(0.98);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.wifiNetworks {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.wsUrlWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}


.wifiTag {
  background-color: #333;
  color: white;
  padding: 12px 12px;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.wifi-tag:hover {
  background-color: #444;
}

.wifi-tag:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .settings {
    padding: 0 15px;
    max-width: 100%;
  }

  .settings h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .panel {
    gap: 12px;
  }

  .panel label {
    font-size: 16px;
  }

  .panel input,
  .panel select {
    width: 100%;
    max-width: unset;
    font-size: 16px;
  }

  .wsUrlWrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .btn {
    width: 100%;
    max-width: unset;
    font-size: 16px;
    padding: 14px;
  }
}
