.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 16px;
}

.modal {
  background-color: #8E8E8EFF;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.5);
  max-height: 90vh;
  overflow-y: auto;
  width: 100%;
  color: white;
  transition: all 0.3s ease;
}

.modalContainer {
  background-color: #333;
  padding: 20px 16px;
  position: relative;
  min-width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullScreen {
  width: 100%;
  height: 100%;
  border-radius: 0;
  max-height: none;
}

.closeBtn {
  width: 40px;
  background: none;
  border: none;
  color: #aaa;
  font-size: 34px;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;


  &:hover {
    color: #fff;
  }
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.buttonCancel,
.buttonConfirm {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
  flex: 1;
  max-width: 200px;
}

.buttonConfirm {
  background-color: #007bff;
  color: #fff;
}

.buttonCancel {
  background-color: #555;
  color: #eee;
}

/* Ховер-эффекты только для десктопов */
@media (hover: hover) {
  .buttonConfirm:hover {
    background-color: #1580ff;
  }
  .buttonCancel:hover {
    background-color: #666;
  }
}
