.header {
    border-bottom: 1px solid #ffffff;
    padding: 0 30px;
    gap: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #333;
    transition: all 0.3s ease;
    z-index: 99;

    @media (max-width: 600px) {
        padding: 0 10px;
    }
}

.burgerBtn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-right: 10px;
 }

.burgerBtnItem {
    height: 3px;
    width: 100%;
    background: #ffffff;
}

.status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    font-weight: bold;
}

.connected .icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #2ecc71;
    background-color: #2ecc71;
    color: #2ecc71;
}

.pending .icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #f4c005;
    background-color:  #f4c005;
    color: #f4c005;
}

.disconnected .icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #e74c3c;
    background-color: #e74c3c;
    color: #e74c3c;
}

.text--connected {
    color: #2ecc71;
}

.text--pending {
    color: #f4c005;
}

.text--disconnected {
    color: #e74c3c;
}

.title {
    margin-left: 10px; font-size: 22px; color: white;
  @media (max-width: 380px) {
     font-size: 20px;
  }
}


