
/* Обёртка всей карусели: стрелки + список */
.roomCarouselWrapper {
  //margin: 20px 0;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0; /* Уменьшил вертикальные отступы */
  color: white;
  height: 50px; /* Фиксированная высота */
  min-height: 50px; /* Минимальная высота */
  @media (max-width: 400px) {
    margin: 10px 0;
  }
}

/* Контейнер со списком комнат */
.roomCarousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%; /* Занимает всю высоту родителя */
  align-items: center; /* Центрируем по вертикали */
}

.roomCarousel::-webkit-scrollbar {
  display: none; /* скрываем скролл в Chrome */
}


/* Одна комната */
.roomItem {
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  padding: 6px 16px; /* Уменьшил вертикальный padding */
  white-space: nowrap;
  //opacity: 0.4;
  font-size: 20px;  /* Уменьшил размер шрифта */
  flex-shrink: 0;
  line-height: 1.2; /* Оптимальный межстрочный интервал */

  &.active {
    color: #4080b1;
    transform: scale(1.2);
    opacity: 1;
  }
}

.arrowPagination {
  display: flex;
  font-size: 24px; /* Уменьшил размер */
  cursor: pointer;
  height: 100%;
  align-items: center;
  align-self: center;
  align-content: center;
}
